.grid_row{
    display: block;
}

.grid_column-7{
    text-align: center;
}

.logo{
    height: 50px;
    display: block;
    padding: 0px;
    margin: 0px;
    position:relative;
}

.linkHome, .linkPortfolio, .linkOverOns,.linkDiensten,.linkContact{
     width: 100%;
    display: block;
    background-color: black;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px 0;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 2px
}

main ul li img{
    border-color: white;
}



.overOns h1{
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 0px;
    font-size: 2em;
}

.overOns p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 200px;
    width: 200px;
    text-align:center;
    display: block;
    margin: 0 auto;
}

.overImg img{
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
}

.team img{
    display: block;
    margin: 40px auto 10px auto;
    width: 200px;
}

.team p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}
.team h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 0px;
    font-size: 2em;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    
}

#team1 h1{
    width: 400px;
}
footer{

    max-width: 100%;
}

footer p{
    margin-top: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}


.clearfix{
    clear: both;
}


@media(min-width:800px){
    .grid_row{
        display: flex;
    }
    .grid_column-7{
        width: calc(100%/7);
        display: inline-block;
    }
    
    .linkHome, .linkPortfolio, .linkOverOns,.linkDiensten,.linkContact{
        background-color: white;
        color: black;
    }
        
    .circle:hover{
        border: 5px solid #E7B142;
        transition: 0.2s;
        border-radius: 50%;
    }
    
    .team p{
        width: 400px;
        margin-top: 10px;
        margin-bottom: 80px;
    }
    
    #strokeRight{
        background-color: #E7B171;
        height: 120%;
        float: right;
        width: calc(100%/7);
        position: fixed;
        overflow: hidden;
        margin-top: -60px;
    }
    
    #strokeLeft{
        background-color: #E7B171;
        height: 120%;
        float: left;
        width: calc(100%/7);
        margin-top: -60px;
        position: fixed;
        overflow: hidden;
    }
    
}